.app-container {
  padding: 30px;
  background-color: #ffe3e3;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}
input {
  width: 100%;
  border: 3px solid #e03131;
  border-radius: 5px;
  padding: 5px;
  outline: none;
}
